ID,Status,Type,Bank,Device,SSID,group
1,connected,SPDT,A,POL,VHF,None
2,connected,SPDT,A,POL,UHF,None
3,connected,SPDT,A,LNA,VHF,RF;ALL
4,connected,SPDT,A,LNA,UHF,RF;ALL
5,connected,SPDT,A,PTT,VHF,None
6,connected,SPDT,A,PTT,UHF,None
7,disconnected,SPDT,A,SPDT7,None,None
8,disconnected,SPDT,A,SPDT8,None,None
9,disconnected,SPDT,B,SPDT9,None,None
10,disconnected,SPDT,B,SPDT10,None,None
11,disconnected,SPDT,B,SPDT11,None,None
12,disconnected,SPDT,B,SPDT12,None,None
13,disconnected,SPDT,B,SPDT13,None,None
14,disconnected,SPDT,B,SPDT14,None,None
15,disconnected,SPDT,B,SPDT15,None,None
16,disconnected,SPDT,B,SPDT16,None,None
17,connected,DPDT,A,TRACK,VHF;UHF;LBAND,ALL
18,connected,DPDT,A,TRACK,SBAND,ALL
19,connected,DPDT,A,TRACK,RAEME,ALL
20,connected,DPDT,A,TRACK,WX,ALL
21,connected,DPDT,A,USRP,VHF;UHF,RF;ALL
22,connected,DPDT,A,USRP,LBAND;SBAND,RF;ALL
23,connected,DPDT,A,USRP,RAEME,RF;ALL
24,connected,DPDT,A,USRP,WX,RF;ALL
25,disconnected,DPDT,B,DPDT9,None,None
26,disconnected,DPDT,B,DPDT10,None,None
27,disconnected,DPDT,B,DPDT11,None,None
28,disconnected,DPDT,B,DPDT12,None,None
29,disconnected,DPDT,B,DPDT13,None,None
30,disconnected,DPDT,B,DPDT14,None,None
31,connected,DPDT,B,XU3LITE,None,None
32,fault,DPDT,B,DPDT16,None,None
