ID,Type,Bank,Device,SSID
1,SPDT,A,POL,VHF
2,SPDT,A,POL,UHF
3,SPDT,A,LNA,VHF
4,SPDT,A,LNA,UHF
5,SPDT,A,PTT,VHF
6,SPDT,A,PTT,UHF
7,SPDT,A,None,None
8,SPDT,A,None,None
9,SPDT,B,None,None
10,SPDT,B,None,None
11,SPDT,B,None,None
12,SPDT,B,None,None
13,SPDT,B,None,None
14,SPDT,B,None,None
15,SPDT,B,None,None
16,SPDT,B,None,None
17,DPDT,A,TRACK,VHF;UHF;LBAND
18,DPDT,A,TRACK,SBAND
19,DPDT,A,TRACK,RAEME
20,DPDT,A,TRACK,WX
21,DPDT,A,USRP,VHF;UHF
22,DPDT,A,USRP,LBAND;SBAND
23,DPDT,A,USRP,RAEME
24,DPDT,A,USRP,WX
25,DPDT,B,None,None
26,DPDT,B,None,None
27,DPDT,B,None,None
28,DPDT,B,None,None
29,DPDT,B,None,None
30,DPDT,B,None,None
31,DPDT,B,XU3LITE,None
32,DPDT,B,fault,None
