ID,Status,Type,Bank,Device,SSID
1,connected,SPDT,A,POL,VHF
2,connected,SPDT,A,POL,UHF
3,connected,SPDT,A,LNA,VHF
4,connected,SPDT,A,LNA,UHF
5,connected,SPDT,A,PTT,VHF
6,connected,SPDT,A,PTT,UHF
7,disconnected,SPDT,A,None,None
8,disconnected,SPDT,A,None,None
9,disconnected,SPDT,B,None,None
10,disconnected,SPDT,B,None,None
11,disconnected,SPDT,B,None,None
12,disconnected,SPDT,B,None,None
13,disconnected,SPDT,B,None,None
14,disconnected,SPDT,B,None,None
15,disconnected,SPDT,B,None,None
16,disconnected,SPDT,B,None,None
17,connected,DPDT,A,TRACK,VHF;UHF;LBAND
18,connected,DPDT,A,TRACK,SBAND
19,connected,DPDT,A,TRACK,RAEME
20,connected,DPDT,A,TRACK,WX
21,connected,DPDT,A,USRP,VHF;UHF
22,connected,DPDT,A,USRP,LBAND;SBAND
23,connected,DPDT,A,USRP,RAEME
24,connected,DPDT,A,USRP,WX
25,disconnected,DPDT,B,None,None
26,disconnected,DPDT,B,None,None
27,disconnected,DPDT,B,None,None
28,disconnected,DPDT,B,None,None
29,disconnected,DPDT,B,None,None
30,disconnected,DPDT,B,None,None
31,connected,DPDT,B,XU3LITE,None
32,fault,DPDT,B,None,None
